* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:honeydew;
}
.cont{
    background-color: white;
    width: 1300px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont2{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one{
    display: flex;
    justify-content: space-between;
    width: 220px;
    align-items: center;
}

.id{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 57px;
}
.id h2{
font-size: 30px;
    font-family: sans-serif;
}
.id p{
    color: blue;
    font-family: sans-serif;
}
.two{
    background: url("../images/images-6238005 1.png");
    width: 700px;
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}